<!DOCTYPE html>
{% extends 'base.html' %} {% block body_block %}

<style>
  .wrapper {
    min-width: 75vh;
  }
</style>

{% if user.is_authenticated %}

<div
  class="makeMiddle justify-content-center align-items-center"
  style="padding-top: 150px; min-height: 80vh"
>
  <h1>You are already logged in.</h1>
  <h2>Log out First</h2>
</div>

{% else %}

<div class="formContainer container" style="margin-top: 50px">
  <div class="row justify-content-center">
    <div
      class="makeMiddle justify-content-center col-sm-12"
      style="display: inline"
    >
      <h1>Log in:</h1>
    </div>

    <form
      method="POST"
      class="justify-content-center text-align-center col-lg-8 col-md-12 col-sm-12"
      action="{% url 'userAuth:loginApp' %}"
    >
      <div
        class="message col-sm-12 justify-content-center"
        style="display: inline"
      >
        <h2 class="makeMiddle">{{ message }}</h2>
      </div>

      <div class="col-lg-8 col-md-10 col-sm-12" style="display: inline">
        <label for="username" style="float: left">User Name:</label>
        <input
          type="text"
          name="username"
          id="username"
          value="{{ username }}"
        />
      </div>

      <div class="col-lg-8 col-md-10 col-sm-12" style="display: inline">
        <label for="password" style="float: left">Password:</label>
        <input
          type="password"
          name="password"
          id="password"
          value=" {{ password }} "
        />
      </div>

      {% csrf_token %}

      <div class="makeMiddle justify-content-center mt-3 mb-3">
        <input type="submit" value="Login" />
      </div>
    </form>
  </div>
</div>

{% endif %} {% endblock %}
